<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Первый проект на Django - текущая дата</title>
    </head>
    <body>
        <h1>Сейчас на сервере</h1>
        <hr>
        <p>День: {{ date.day }}</p>
        <p>Месяц: {{ date.month }}</p>
        <p>Год: {{ date.year }}</p>
        <p>Часы: {{ date.hour }}</p>
        <p>Минуты: {{ date.minute }}</p>
        <p>Секунды: {{ date.second }}</p>
        {% if numbers %}
            <p>Длина списка: {{ numbers | length }}</p>
            <p>Второй элемент списка: {{ numbers.2 }}</p>
            <p>А весь список выглядит так:
            <ul>
                {% for value in numbers %}
                    <li>{{ value }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Упс... А списка-то нет</p>
        {% endif %}
        <p><a href="/calc/">Калькулятор тут</a>.
    </body>
</html>